/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton ($bgcolor, $display) {
    background-color: $bgcolor;
    font-weight: bold;
    color: $blanco;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: $separacion / 2;
    text-decoration: none;
    display: $display;

    &:hover{
        background-color: darken($bgcolor, 10);
    }
}