.footer { 
    background-color: $grisOscuro;
    margin-bottom: 0;
    
    .contenedor-footer{
        padding-top: $separacion;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
}