.formulario{
    p{
        font-size: 1.4rem;
        color: $grisOscuro;
        margin: 2rem 0 0 0;
    }

    legend{
        font-size: 2rem;
        color: $grisOscuro;
    }

    label{
        text-transform: uppercase;
        display: block;
    }
    input:not([type="submit"]), 
    textarea, select {
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: $blanco;
        border-radius: 1rem;
        border: solid $gris;
        margin-bottom: 2rem;

    }

    textarea{
        max-width: auto;
        height: 25rem;
    }

    .forma-contacto{
        max-width: 30rem;
        display: flex ;
        justify-content: space-between;
    }

    input[type="radio"]{
        margin: 0;
        width: auto;
    }

}