

.contenido-nosotros{

    @include tablet{
        @include grid(2, 2rem)
    }
}

.texto-nosotros blockquote{
    font-weight: $black;
    text-align: center;
    font-size: 2.2rem;
    padding-left: 1rem 0 2rem 0;
    
}

